*{
    margin: 0;
    padding: 0;
    box-shadow: none;
}

#topbar{
    background-color: grey;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
#top-c{
    color: white;
}
#dec-d{
    margin-left: 100px;
}
.container h5{
    margin-top: 60px;
}